.nav-logo {
  p.nav-title-text {
    margin: 0;
    // On wide screens, fix the size so it aligns with the title below
    @media (min-width: $breakpoint-md) {
      width: 275px;
    }
  }

  // Style the `docs` with fira and same style
  > a {
    font-size: 1.6em;
    font-family: "Fira Sans";
    font-weight: var(--logo-bold);
    margin-top: 0.3em;
    padding-left: 1em;

    @media (min-width: $breakpoint-md) {
      text-align: center;
      padding-left: 0;
    }

    text-decoration: none;

    span.nav-subtitle-text {
      font-weight: 400;
      color: var(--pst-color-primary);
      padding-left: 0.2em;
    }
  }
}
