/**
 * Navigation bar across all 2i2c websites at the top.
 */

// 2i2c-specific div we put in the header

.nav-logo {
  button:hover,
  .nav-2i2c a:hover {
    color: var(--pst-color-primary);
    text-decoration: none;
  }
}

// Padding for icons in the dropdown
div.dropdown-menu {
  &.show {
    display: block;
    z-index: 9999; // To make sure it shows up over the book theme
  }
  i {
    padding-left: 0.5em;
  }
}
