.bd-sidebar-primary {
  padding-top: 1rem;

  // Styling for our logo
  p.logo__title {
    font-family: "Fira Sans";
    font-size: 1.1em !important;
    color: var(--pst-color-primary);
    font-weight: 500;
    white-space: normal;
    text-align: center;
    line-height: 1.75rem;
  }
}

// Both sidebars (if the secondary sidebar gets many more rules, create its own SCSS file)
.bd-sidebar-primary, .bd-sidebar-secondary {
  // Stick to the top
  top: 0;
}